<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>betHistory</title>
    <style>
        body {
            min-height: 75rem;
            padding-top: 7rem;
            color: #16350e;

        }

        .caixa {
            margin-left: 20%;
            margin-right: 20%;
        }
        .circle-right-btn {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            border: 1px solid #16350e;
            margin-top: 15px;
            font-size:18px;
        }
        .butons{
            display: flex;
            justify-content: center;
            gap: 50px;
        }
        div.vertical-line{
            width: 2px;
            background-color: black;
            height: 100%;
            float: left;
        }
    </style>
</head>
<body style="background-color: #d5d4d4">

<!-- Navbar -->
<nav style="background-color: rgba(3,84,5,0.92)" class=" navbar navbar-expand-lg navbar-dark  fixed-top">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Toggle button -->
        <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-lg-0" href="/home">
                <img
                        src="logo.png"
                        height="50"
                        alt="RASBET Logo"
                        loading="lazy"
                />
            </a>
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/transactions">Transações</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/betHistory">Apostas</a>
                </li>
            </ul>
            <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->

        <!-- Right elements -->
        <div class="d-flex align-items-center">
            <!-- Icon -->
            <a class="text-reset me-3" href="#">
                <i class="fas fa-shopping-cart"></i>
            </a>

            <!-- Notifications -->
            <div class="me-4">
                <a href="/notifications" class="d-block link-info text-decoration-none  text-white    "
                   id="dropdownUser1" aria-expanded="false">
                    <i class="fas fa-bell ">Notificações</i>
                    <div th:if="${notReadNotifications != null}">
                        <div th:if="${notReadNotifications.size() != 0}">
                            <span class="badge rounded-pill badge-notification bg-danger "
                                  th:text="${notReadNotifications.size()}"></span>
                        </div>
                    </div>


                </a>
            </div>
            <!-- Avatar -->
            <div class="dropdown">
                <a href="#" class="d-block link-info text-decoration-none dropdown-toggle text-white" id="dropdownUser1"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="avatar.png" alt="User image" class="User image" width="50" height="50">
                </a>
                <ul
                        class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="navbarDropdownMenuAvatar"
                >
                    <li>
                        <a class="dropdown-item" href="profile">Perfil</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="logout">Terminar sessão</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->

<div style="background-color:white; border-radius: 60px;border-style: dotted;border-width: medium;border-color: #16350e" class="caixa card">
    <div class="col d-flex justify-content-center">
        <div class="card-body">
            <h3 style="text-align: center" th:text="${user.getName()}"></h3>
            <h4 style="text-align: center"> Historico de Apostas </h4>
            <hr style="margin-left: 3rem;margin-right: 3rem">
            <div class ="butons">
                <button style="background-color: #ee7742;border-style: none" onclick="window.location.href='/betHistory?simples'" class="btn btn-primary">Simples</button>

                <button style="background-color: #ee7742;border-style: none" onclick="window.location.href='/betHistory?multiplas'" class="btn btn-primary ">Múltiplas</button>
            </div>
            <p style="text-align: left" class="historico ms-5 ps-2 mb-2">
                    <a href="/profile">
                        <input  class="circle-right-btn" type="submit" value="<">
                    </a>
            </p>
            <div th:each="bet:${betsSimple}">
                <div style="background-color:white; border-radius: 20px;border-style: solid;border-width: thin;border-color: #16350e;margin-left: 70px;margin-right: 70px;margin-bottom: 20px" class="card ">
                    <div class="d-flex rounded mt-3">
                        <div style="display: flex;text-align: left" class="flex-grow-1 ms-3">
                            <div >
                                <span>Gil Vicente - Portimonense</span>
                                <p> Equipa vencedora : Gil vicente</p>
                            </div>
                            <div class="mx-auto">
                                <div class="vertical-line " style="height: 45px"></div>
                            </div>
                            <div class="me-5">
                                <span>Montante Apostado 5€</span>
                                <p> Total de ganhos 50€</p>
                            </div>


                            <p class="mb-2 pb-1 small" style="color: #2b2a2a;"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>
    function Salvar() {
        alert("Mudanças Salvas");
    }
</script>
