<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Início</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
        <meta name="theme-color" content="#712cf9">
        <style>
            body {
                min-height: 75rem;
                padding-top: 7rem;
            }

            button {
                background: none;
            }

            button:active{
                background:olive;
            }

            button:focus{
                background: #8080e0;
            }

        </style>
        <script>
        function selectOdd(button) {
            button.style.borderColor = (button.style.borderColor!=='rgb(238, 119, 66)' ? '#ee7742' : '#16350e');
            button.style.backgroundColor = (button.style.backgroundColor === 'rgb(238, 119, 66)' ? '#ffffff' : '#ee7742');
        }
        </script>
</head>
<body>
<!--
<nav style="background-color: #2069ff;" class="navbar navbar-expand-md navbar-dark fixed-top ">
    <div class="container-fluid text-white ">
        <h5 class="d-flex align-items-center mb-2 pe-3 mb-lg-0 text-white"> RASBET </h5>
            <div class="dropdown text-end">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="avatar.png" alt="mdo" class="User image" width="50" height="50">
                </a>
                <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
                    <li><a class="dropdown-item" href="changeUserInfo">Definições</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/login">Terminar sessão</a></li>
                </ul>
            </div>
            <p class="nav col-1 col-lg-auto me-lg-auto ms-2 mb-2 justify-content-start mb-md-0">Bem vindo, &nbsp;<span th:text="${user.getName()}"></span>!</p>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/notifications" class="nav-link px-2 link-light">Notificações</a></li>
                <li><a href="/transactions" class="nav-link px-2 link-light">Transações</a></li>
            </ul>

            <div class="d-flex justify-content-start rounded-3 p-2 mb-2" style="background-color: rgba(239,239,239,0.63);">
                <div>
                    <p class="small text-muted mb-1">Euros</p>
                    <p class="sm-0 text-black">
                        <span th:text="${user.getWallet().getEuros()}"></span> €
                    </p>
                </div>
                <div class="px-3">
                    <p class="small text-muted mb-1">Dollars</p>
                    <p class="sm text-black">
                        <span th:text="${user.getWallet().getDollars()}"></span> $
                    </p>
                </div>
            </div>
        </div>
</nav> !-->


<!-- Navbar -->
<nav style="background-color: rgba(3,84,5,0.92)" class=" navbar navbar-expand-lg navbar-dark  fixed-top">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Toggle button -->
        <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-lg-0" href="/home">
                <img
                        src="logo.png"
                        height="50"
                        alt="RASBET Logo"
                        loading="lazy"
                />
            </a>
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/transactions">Transações</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/betHistory">Apostas</a>
                </li>
            </ul>
            <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->

        <!-- Right elements -->
        <div class="d-flex align-items-center">
            <!-- Icon -->
            <a class="text-reset me-3" href="#">
                <i class="fas fa-shopping-cart"></i>
            </a>

            <!-- Notifications -->
            <div class="me-4">
                <a href="/notifications" class="d-block link-info text-decoration-none  text-white    " id="dropdownUser1"  aria-expanded="false">
                    <i class="fas fa-bell ">Notificações</i>
                        <div th:if="${notReadNotifications != null}">
                            <div th:if="${notReadNotifications.size() != 0}">
                                <span class="badge rounded-pill badge-notification bg-danger " th:text="${notReadNotifications.size()}" ></span>
                            </div>
                        </div>


                </a>
            </div>
            <!-- Avatar -->
            <div class="dropdown">
                <a href="#" class="d-block link-info text-decoration-none dropdown-toggle text-white" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="avatar.png" alt="User image" class="User image" width="50" height="50">
                </a>
                <ul
                        class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="navbarDropdownMenuAvatar"
                >
                    <li>
                        <a class="dropdown-item" href="profile">Perfil</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="logout">Terminar sessão</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->

<section th:each="game:${games}">
    <div class="p-2 mx-3 mb-2" style=" display: flex;border-style:dotted; border-radius: 10px; border-width: 2px; border-color: #16350e;">
        <div style="float: left; width: 25%">
            <h3 style="color: rgb(58, 58, 58);">
                <span th:text="${game.getHomeTeam()}"></span> - <span th:text="${game.getAwayTeam()}"></span>
            </h3>
            <p class="text-muted" th:text="${game.getFormattedDate()}"></p>
        </div>
        <div style="float: right; width: 75%">
            <div style="text-align: center;">
                <button class="mx-5 px-3 py-1" type="button" onclick="selectOdd(this)" style="background-color: white; border-color: #16350e ; border-radius: 15px; font-weight: bold;  border-style: solid ; width: 200px" > <span th:text="${game.getHomeTeam()}"></span> <p>1.19</p> </button>
                <button class="mx-5 px-3 py-1" type="button" onclick="selectOdd(this)" style="background-color: white; border-color: #16350e ; border-radius: 15px; font-weight: bold;  border-style: solid ; width: 200px" > Empate <p>1.19</p> </button>
                <button class="mx-5 px-3 py-1" type="button" onclick="selectOdd(this)" style="background-color: white; border-color: #16350e ; border-radius: 15px; font-weight: bold;  border-style: solid ; width: 200px" > <span th:text="${game.getAwayTeam()}"></span> <p>1.19</p> </button>
            </div>
        </div>
    </div>
</section>

</body>
</html>